In [13]:
import dataAcquisition as da

In [14]:
stable_pools=da.getStablePools(10000000)

In [15]:
stable_pools

  token0 token1       tvl_usd                                     pool_id
0   BUSD   USDC  2.411278e+07  0x00cef0386ed94d738c8f8a74e8bfd0376926d24c
1   USDC   USDT  1.564645e+08  0x3416cf6c708da44db2624d63ea0aaef7113527c6
2    DAI   USDC  4.192040e+08  0x5777d92f208679db4b9778590fa3cab3ac9e2168
3    DAI   USDC  2.824494e+08  0x6c6bc977e13df9b0de53b251522280bb72383700
4   USDC   USDT  2.468397e+07  0x7858e59e0c01ea06df3af3d20ac7b0003275d4bf

In [16]:
pool_id=stable_pools.iloc[0].pool_id

In [17]:
pool_id

'0x00cef0386ed94d738c8f8a74e8bfd0376926d24c'

In [18]:
q=Query('./queries/pool_by_id')

In [19]:
import requests

In [20]:
response=requests.post(uniswap_endpoint,json={'query':q.getQuery({'__id__':pool_id})})

In [21]:
response

In [22]:
data=response.json()

In [26]:
df=pd.DataFrame(data['data']['pools'][0]['poolDayData'])

In [30]:
df['date']=df.date.apply(lambda d: pd.Timestamp(ts_input=d,unit='s'))
df['tvlUSD']=df.tvlUSD.astype(float)
df['volumeUSD']=df.volumeUSD.astype(float)
df['feesUSD']=df.feesUSD.astype(float)

In [31]:
df

          date        tvlUSD     volumeUSD     feesUSD
0   2021-05-24  4.038929e+05  1.560326e+05   78.016302
1   2021-05-25  6.273335e+05  1.641681e+06  820.840475
2   2021-05-26  6.411043e+05  1.581438e+05   79.071880
3   2021-05-27  6.411378e+05  6.312746e+04   31.563732
4   2021-05-28  5.229501e+05  3.004094e+05  150.204708
..         ...           ...           ...         ...
497 2022-10-16  2.411219e+07  4.853092e+05  242.654588
498 2022-10-17  2.411259e+07  8.498574e+01    0.042493
499 2022-10-18  2.411245e+07  5.859606e+04   29.298028
500 2022-10-19  2.410930e+07  1.870470e+06  935.235012
501 2022-10-20  2.411020e+07  8.375845e+05  418.792270

[502 rows x 4 columns]